<template>
    <div id="map">
    </div>
</template>

<script>
    import L from 'leaflet'
    require('leaflet/dist/leaflet.css');
    export default {
        data(){
            return {
                map : null
            }
        },
        mounted(){
            this.map = L.map('map').setView([30.508255, -97.678894], 13);
            L.tileLayer('http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png"', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'your.mapbox.access.token'
            }).addTo(this.map);
            this.drawSites();
        },
        methods: {
            drawSites(){
                var sites = this.$store.getters.getSites;
                sites.forEach(element => {
                    var siteIcon = L.icon({
                        iconUrl: element.Images[0].Thumbnail,
                        iconSize: [100,100]
                    });
                    L.marker([element.Latitude, element.Longitude], {icon: siteIcon}).addTo(this.map);
                });
                
            }
        }
    }
</script>

<style scoped>
#map{
    height:calc(100vh - 56px - 60px);
    width: 100%;
}
</style>