<template>
    <div class="container">
        <h1>Search Sites</h1>
        <input type="search" class="form-control" placeholder="Begin Typing to Search" v-model="searchTerm" @change="searchChanged"  />
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" v-if="filteredSites">{{filteredSites.length}} Results</th>
                    <th scope="col" v-on:click="headerClicked('SiteNumber')">
                        Site Number 
                        <font-awesome-icon icon="sort" v-if="orderBy != 'SiteNumber'" />
                        <font-awesome-icon icon="sort-up" v-else-if="orderByAscending" />
                        <font-awesome-icon icon="sort-down" v-else />
                    </th>
                    <th scope="col" v-on:click="headerClicked('SiteName')">
                        Site Name
                        <font-awesome-icon icon="sort" v-if="orderBy != 'SiteName'" />
                        <font-awesome-icon icon="sort-up" v-else-if="orderByAscending" />
                        <font-awesome-icon icon="sort-down" v-else />
                    </th>
                    <th scope="col" v-on:click="headerClicked('LastUpdated')">
                        Last Updated
                        <font-awesome-icon icon="sort" v-if="orderBy != 'LastUpdated'" />
                        <font-awesome-icon icon="sort-up" v-else-if="orderByAscending" />
                        <font-awesome-icon icon="sort-down" v-else />
                    </th>
                </tr>
                <tr v-for="(site, index) in filteredSites" :key="index">
                    <td scope="col">
                        <router-link :to="{name: 'site', params:{id:site.SiteNumber}}"><img v-bind:src="site.Images[0].Thumbnail" class="img-thumbnail site-image-mini" /></router-link>
                    </td>
                    <td scope="col" v-html="highlight(site.SiteNumber)"></td>
                    <td scope="col" v-html="highlight(site.SiteName)"></td>
                    <td scope="col">{{ site.LastUpdated | formatDate }}</td>
                </tr>
            </thead>
        </table>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                orderBy: "",
                orderByAscending: true,
                searchTerm: ""
            }
        },
        computed:{
            filteredSites(){
                var ret = this.$store.getters.getFilteredSites(this.searchTerm);
                if(this.orderBy){
                    if(this.orderByAscending){
                        ret.sort(this.orderByAsc(this.orderBy));
                    }else{
                        ret.sort(this.orderByDes(this.orderBy));
                    }
                    
                }
                return ret;
            }
        },
        methods:{
            searchChanged(){
                this.$router.push({ path: 'sites', query: { orderBy: this.orderBy, orderByAsc: this.orderByAscending, searchTerm: this.searchTerm }});
            },
            headerClicked(source){
                if(source != this.orderBy){
                    this.orderByAscending = true;
                    this.orderBy = source;
                }else{
                    this.orderByAscending = !this.orderByAscending;
                }
                this.$router.push({ path: 'sites', query: { orderBy: this.orderBy, orderByAsc: this.orderByAscending, searchTerm: this.searchTerm }});
            },
            orderByAsc(prop){
                return function(a,b){
                    if( a[prop] > b[prop]){
                        return 1;
                    }else if( a[prop] < b[prop] ){
                        return -1;
                    }
                    return 0;
                }
            },
            orderByDes(prop){
                return function(a,b){
                    if( a[prop] > b[prop]){
                        return -1;
                    }else if( a[prop] < b[prop] ){
                        return 1;
                    }
                    return 0;
                }
            },
            highlight(content){
                if(!this.searchTerm){
                    return content;
                }
                return content.replace(new RegExp(this.searchTerm, "gi"), match => {
                    return '<span class="highlightText">' + match + '</span>';
                });
            }
        },
        filters:{
            formatDate(dt){
                return new Date(dt).toLocaleString();
            }
        },
        mounted(){
            if(this.$route.query.orderBy) this.orderBy = this.$route.query.orderBy;
            if(this.$route.query.orderByAsc) this.orderByAscending = (this.$route.query.orderByAsc == 'true');
            if(this.$route.query.searchTerm) this.searchTerm = this.$route.query.searchTerm;
        }
    }
</script>

<style>
.highlightText {
    background-color: #fdfd96 !important;
}
.site-image-mini{
    height:50px;
    width:50px;
    
}
.site-image-mini:hover{
    border-color:#779ecb;
}
</style>