<template>
    <div>
        <div class="loader-container" v-if="isLoading" >
            <div class="overlay">
            <slot></slot>
                <svg version="1.1" class="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100" >
                    <circle fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="15" stroke-dasharray="14.2472,14.2472" cx="50" cy="50" r="47" >
                    <animateTransform 
                        attributeName="transform" 
                        attributeType="XML" 
                        type="rotate"
                        dur="5s" 
                        from="0 50 50"
                        to="360 50 50" 
                        repeatCount="indefinite" />
                </circle>
                <circle fill="none" stroke="#fff" stroke-width="1" stroke-miterlimit="10" stroke-dasharray="10,10" cx="50" cy="50" r="39">
                    <animateTransform 
                        attributeName="transform" 
                        attributeType="XML" 
                        type="rotate"
                        dur="5s" 
                        from="0 50 50"
                        to="-360 50 50" 
                        repeatCount="indefinite" />
                </circle>
                <g fill="#fff">
                <rect x="30" y="35" width="5" height="30">
                    <animateTransform 
                    attributeName="transform" 
                    dur="1s" 
                    type="translate" 
                    values="0 5 ; 0 -5; 0 5" 
                    repeatCount="indefinite" 
                    begin="0.1"/>
                </rect>
                <rect x="40" y="35" width="5" height="30" >
                    <animateTransform 
                    attributeName="transform" 
                    dur="1s" 
                    type="translate" 
                    values="0 5 ; 0 -5; 0 5" 
                    repeatCount="indefinite" 
                    begin="0.2"/>
                </rect>
                <rect x="50" y="35" width="5" height="30" >
                    <animateTransform 
                    attributeName="transform" 
                    dur="1s" 
                    type="translate" 
                    values="0 5 ; 0 -5; 0 5" 
                    repeatCount="indefinite" 
                    begin="0.3"/>
                </rect>
                <rect x="60" y="35" width="5" height="30" >
                    <animateTransform 
                    attributeName="transform" 
                    dur="1s" 
                    type="translate" 
                    values="0 5 ; 0 -5; 0 5"  
                    repeatCount="indefinite" 
                    begin="0.4"/>
                </rect>
                <rect x="70" y="35" width="5" height="30" >
                    <animateTransform 
                    attributeName="transform" 
                    dur="1s" 
                    type="translate" 
                    values="0 5 ; 0 -5; 0 5" 
                    repeatCount="indefinite" 
                    begin="0.5"/>
                </rect>
                </g>
                </svg>
            </div>
        </div>
        <slot v-else></slot>
    </div>
</template>

<script>
    export default {
        props:[
            'loading'
        ],
        computed:{
            isLoading(){
                console.log(this.loading == true);
                return this.loading == true;
            }
        }
    }
</script>

<style scoped>
.loader-container{
    position:relative;
}
.overlay {
    position:relative;
    background: grey;
    top: 0;                 
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.loader{
    display:block;
    top:5%;
    left:40%;
    position: absolute;
    width:20%;
    height:90%;
}

</style>