<template>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/#">ASI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <router-link tag="li" class="nav-item nav-link" to="/" exact>Home</router-link>
            <router-link tag="li" class="nav-item nav-link" to="/sites" >Sites</router-link>
            <router-link tag="li" class="nav-item nav-link" to="/map" >Map</router-link>
          </ul>
        </div>
        <div class="text-light">
          Last Pulled: {{ sitesLastPulledTime }}
        </div>
      </nav>
</template>

<script>
    export default {
        computed:{
          sitesLastPulledTime(){
            return this.$store.getters.getLastPulledTimeStamp;
          }
        }
    }
</script>

<style>
html{
  padding-top:56px;
}
</style>