<template>
  <div id="app">
    <nav-bar date=""></nav-bar>
    <router-view :key="$route.fullPath" />
    <sticky-footer></sticky-footer>
  </div>
</template>
<script>
  import NavBar from '@/components/NavBar'
  import Footer from '@/components/Footer'

  export default {
    data(){
      return {
        timer: ''
      }
    },
    components:{
      'nav-bar' : NavBar,
      'sticky-footer' : Footer
    },
    methods:{
      updateSites(){
        this.$store.dispatch('refreshSites');
      },
      startAutoRefresh(){
        this.timer = setInterval(this.updateSites, 300000);
      },
      cancelAutoRefresh(){
        clearInterval(this.timer);
        this.timer = null;
      }
    },
    created(){
      this.updateSites();
      this.startAutoRefresh();
    },
    beforeDestroy(){
      this.cancelAutoRefresh();
    }
  }
</script>
<style scoped>
</style>
